* {
    margin: 0px;
    padding: 0px;
}

body {

}

.login {
    width: 300px;
    height: 300px;
}

.upper {
    text-align: center;
    background: #AB3;
}

.login_header {

}

.form {

}

.into_form {
        display: flex;
        flex-direction: column;
        justify-item: center;
        justify-content: space-between;
        margin: 5px;
}

input {

}

.field {
    display: block;
    margin: 0 auto;
}

.user_name_image {

}

.password_image {

}

.submit_button {
    margin: 5px;
}