<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Магазин</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
    <div>
        <ul class="navbar">
            <li>
                <a href="products" class="nav-item">Список всех продуктов</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')"  class="nav-item">
                <a class="nav-link" href="/admin">Админка</a>
            </li>
        </ul>
    </div>
</body>
</html>